.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  border:solid 5px whitesmoke;
}

.App-link {
  color: #09d3ac;
}

.App-div {
  border:solid 10px white;
  margin: 10px;
  padding: 10px;
}

.App-form {
  border:solid 10px white;
  margin: 1% 38%;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.App-btn {
  background-color: #09d3ac; 
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}